# WordPress
.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# Dependencies
/vendor/
node_modules/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing
/tests/tmp/
coverage/

# Build
*.zip
build/
dist/
test-plugin.sh

# Logs
*.log
error_log
debug.log
